body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* vh = viewport height */
    min-height: 100vh;
}

h1 {
    font-size: 5rem;
    margin: 1rem;
}

.buttons {
    padding: 5px 10px;
    font-size: 1rem;
    color: white;
    background-color:cadetblue;
    border-radius: 5px;
    /* Turn the cursor into a pointer when hovering over the button */
    cursor: pointer;
    /* Transition to background color in .3s */
    transition: background-color 0.3s;
}

.buttons:hover {
    background-color: darkcyan;
}