body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* vh = viewport height */
    min-height: 100vh;
}

h1 {
    font-size: 5rem;
    margin: 1rem;
}

button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    background-color:cadetblue;
    border-radius: 5px;
    margin:0;
}